node_modules/
babel
babel.cmd
babel-doctor
babel-doctor.cmd
babel-external-helpers
babel-external-helpers.cmd
babel-node
babel-node.cmd
create-react-app
create-react-app.cmd
node-gyp
rebuild
webpack
webpack.cmd